.conteiner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cover>img {
  width: 100%;
}

.sfw_conteiner_title_anime {
  background-color: #0087a9;
  padding: 1rem;
  border-radius: .6rem;
}

.sfw_conteiner_title_animel>li>h2 {
  color: #fff;
}

/* Si el contenido es para mayores de edad */
.nsfw_conteiner_title_anime {
  background-color: #7b00a9;
  padding: 1rem;
  border-radius: .6rem;
}

.con_p {
  height: 13rem;
}

.descri {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  white-space: break-spaces;
}

.descri>h2 {
  color: #ff8700;
}

.buttonShowInfo {
  color: #ff8700;
  padding: 1rem;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
}

.description_conteiner {
  margin: .5rem 0;
  background: #0087a9;
  padding: .5rem;
  border-radius: .5rem;
}


#status {
  display: block;
}

#status>h2 {
  color: #ff8700;
}

#info {
  flex-direction: row;
}

#info>li {
  border: 1px solid #9b9b9b61;
  padding: .4rem;
  border-radius: 20px;
  font-size: smaller;
  text-align: center;

  white-space: nowrap;
}