.changeAnimeOrManga {
  gap: 6px;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}

.manga {
  background-color: rgb(232, 255, 0);
}

.anime {
  background-color: #ffa941;
}

.conteiner-filters {
  display: flex;
  gap: 10px;
  align-items: center;
}



/*dasdasdas*/

.list {
  display: flex;
  background: rgba(201, 11, 254, 0.22);
  border-radius: 10px;
  overflow: hidden;
}

.img {
  width: 6rem;
  object-fit: cover;
  border-radius: inherit;
}

.infoSeason {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px;
}

.season_conteiner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.season_conteiner>a {
  text-align: center;
}