a {
  text-decoration: none;
}

#logo {
  width: 5rem;
}


/* MEDIA QUERY */
@media only screen and (max-width: 576px) {
  header>ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

@media only screen and (min-width: 576px) {
  header>ul {
    display: flex;
    gap: 20px;
    align-items: center;
  }
}

header>ul>div {
  display: flex;
  gap: 20px;
}


/* Estilo del ícono de hamburguesa */
.menu-icon {
  font-size: 21px;
  cursor: pointer;
  background-color: transparent;
}

#menu-toggle {
  display: none;
}

/* Estilos para el menú overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Comenzar con el menú oculto */
  pointer-events: none; /* No capturar eventos del mouse inicialmente */
  transition: opacity 0.3s; /* Animación para mostrar y ocultar el menú */
}

/* Mostrar el menú overlay al hacer clic en el ícono de hamburguesa */
#menu-toggle:checked ~ .menu-overlay {
  opacity: 1;
  pointer-events: auto; /* Capturar eventos del mouse cuando el menú está visible */
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.menu li {
  padding: 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.menu a:hover {
  color: #f5a623;
}

/* Estilo para el enlace de cierre del menú */
#close-menu {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}
