.conteiner_search {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.input_search {
  color: #000;
  font-size: 1rem;
  padding: 10px 17px;
  border: 1px solid #000;
  border-radius: 50px;
}

.input_conteiner {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 0 2rem 0;
  gap: 21px;
}


.focus {
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
}

.onfocus {
  border-color: red;
}

.input_conteiner>form {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.input_conteiner>form>button {
  background-color: transparent;
  border: none;
}

.input_conteiner>form>button>svg {
  width: 4rem;
}
